@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
   
}


.btn-primary {
  background-color: #2466F2; 
  padding: 12px 20px;      
  border-radius: 0.5rem;     
  color: white;               
}